@if(product){
<mat-card appearance="raised">
    <img
        src="{{ product.thumbnail }}"
        alt="image of {{ product.name }}"
        class="w-full h-40 object-cover"
    />
    <mat-card-content class="mt-2">
        <h2 class="text-sm font-semibold uppercase">
            {{ product.name }}
        </h2>
        <p class="font-light">
            {{ product.unitPrice | currency : 'VND' : 'symbol' : '1.0-0' }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button class="w-full">
            <mat-icon>add_shopping_cart</mat-icon>
            Add to cart
        </button>
    </mat-card-actions>
</mat-card>
}
