@model Training.Cms.Models.CommonListViewModel<OrderViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Created At</th>
            <th class="text-center">Payment</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Items != null && Model.Items.Any())
        {
            foreach (var order in Model.Items)
            {
                <tr>
                    <td>@order.CustomerName</td>
                    <td>@order.CreatedAt.ToOffset(TimeSpan.FromHours(7)).DateTime</td>
                    <td class ="text-center">@order.TotalPrice</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td></td>
                <td class="text-center">No data available</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_PaginationPartial", Model?.Pagination) 