@model Training.Cms.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Change Password</h2>
                <form asp-action="ChangePassword" method="post">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input asp-for="OldPassword" type="password" class="form-control" placeholder="Old Password" autocomplete="current-password" aria-required="true">
                            <label asp-for="OldPassword">Old Password</label>
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password" autocomplete="new-password" aria-required="true">
                            <label asp-for="NewPassword">New Password</label>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="form-floating">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" autocomplete="new-password" aria-required="true">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-dark">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
